---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<section class="mlsec-seminars">
  <h2>MLSec Seminars</h2>
  <p>I help organize the MLSec Seminars, a seminar series on machine learning security and related topics.</p>
  <div class="mlsec-seminars__links">
    <a href="https://pralab.github.io/mlsec/">Updates</a>
    <a href="https://www.youtube.com/@MLSec">Past seminars</a>
  </div>
</section>
